<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>NUBOX-API-SERVER</h1>
    <p>Welcome to API</p>
  </body>
</html>
